.DatasetSelectWidget {
    font-size: medium;
    color: black;
}

.DatasetSelectWidget-select {
    font-size: medium;
    width: 100%;
    background-color: lightgray;

}

.DatasetSelectWidget-descriptionPanel {
    font-size: small;
    background-color: lightgray;
 
}