html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    grid-area: header;
    /* background-color: #0079c1; */
    background-color:#112E51

}

.footer {
    grid-area: footer;
    /* background-color: #0079c1; */
}

#footerDiv {
    background-color:#112E51;
    color:white;
    font-size:12px;
    font-family:Helvetica,Arial;
    font-weight:bold
}

#footerDiv a {
    color:white;
    font-size: small;
}

#footerDiv tr {
    background-color:#112E51
}

#bboxText {
    background-color: lightgray;
}
/* #messageContainer {
    position: absolute;
    bottom: 60px;
    background-color: lightgray;
}
#messagePanel {
    font-size: medium;
    color: black;
    width: 300px;
    height: 150px;
} */

#helpBtn {
    position: absolute;
    bottom: 80px;
    width: 200px;
    margin-left: 50px;    
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
}

.map {
    grid-area: map;
}

.wrapper {
    display: grid;
    /* grid-template-rows: 25%  25% auto; */
    grid-template-rows: 100px, 280px 200px 335px;
    grid-template-areas:
    "header"
    "sidebar"
    "map"
    "footer";
    width: 100vw;
    height: 100vh;
}

.box {
color: #ffffff;
padding: 10px;
font-size: x-large; 
}

@media only screen and (min-width: 544px)  {
.wrapper {
grid-template-columns: 320px auto;
grid-template-rows: 75px  auto 50px;
grid-template-areas:
    "header   header"
    "sidebar  map"
    "footer   footer";
}
}


#bboxContainer {
    margin-top: 50px;
    font-size: medium;
    color: lightgray;
}

#bboxText {
    font-size: small;
    width: 185px;
}

#buttonsContainer {
    margin-top: 100px;
}

#downloadBtn {
    margin-left: 25px;
    margin-right:20px;
}